<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error</title>
    <script type="text/javascript" src=/static/js/jquery-3.1.1.js></script>
    <script type="text/javascript" src=/static/js/reg.js></script>
    <link rel="stylesheet" href="/static/css/css.css">
</head>
<body>
    <div class="item">
        <form action="/home" method="get" accept-charset="utf-8">
            <input type="submit" name="" value="Home">
        </form>
    </div>
    <div class="item">
        <h1>{{ error_message }}</h1>
    </div>
</body>
</html>